.places {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 80px;
  box-sizing: border-box;
  padding-top: 92px;
  padding-bottom: 92px;
}

@media screen and (max-width: 1024px) {
  .places {
    padding: 92px 48px 92px;
  }
}

@media screen and (max-width: 768px) {
  .places {
    padding: 88px 24px 88px;
    grid-row-gap: 73px;
  }
}

@media screen and (max-width: 320px) {
  .places {
    padding: 64px 0 66px;
    grid-row-gap: 50px;
  }
}
