.header__lang-link_choosen::after {
  content: '';
  height: 2px;
  width: 29px;
  display: block;
  background-color: #fff;
  position: relative;
  top: -3px;
  left: 0px;
}

@media screen and (max-width: 768px) {
  .header__lang-link_choosen::after {
    height: 2px;
    width: 22px;
    top: 0;
  }
}