.place__link {
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
  color: #FFFFFF;
  margin: 12px 0 0 0;
}

.place__link:hover {
  opacity: 0.8;
  transition: 1s;
}

@media screen and (max-width: 530px) {
  .place__link {
    font-size: 14px;
  }
}

@media screen and (max-width: 460px) {
  .place__link {
    font-size: 10px;
  }
}

@media screen and (max-width: 320px) {
  .place__link {
    font-size: 18px;
  }
}
