.lead__road {
  max-width: 100%;
  margin: -175px auto 0;
  box-sizing: border-box;
}

@media screen and (max-width: 1280px) {
  .lead__road {
    max-width: 95%;
    margin: -170px auto 0;
  }
}

@media screen and (max-width: 1024px) {
  .lead__road {
    margin: -140px auto 0;
  }
}

@media screen and (max-width: 1024px) {
  .lead__road {
    max-width: 96%;
    margin: -60px auto 0;
  }
}